#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&bt BT_CLR_ALL  &kp Q         &kp Q  &kp Q  &kp Q    &kp S      &kp Z      &kp UP    &kp X      &kp C
&kp Q           &bt BT_SEL 0  &kp Q  &kp Q  &kp Q    &kp A      &kp LEFT   &kp DOWN  &kp RIGHT  &kp D
&kp Q           &kp Q         &kp Q  &kp Q  &kp Q    &kp Q      &kp W      &kp E     &kp R      &kp V
                                     &kp Q  &kp Q    &kp LSHFT  &kp LCTRL
            >;
        };
    };
};
